.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 1em 5em;
}

.navButton {
    background-color: rgba(63, 62, 62, 0);
    transition: 0.3s;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-weight: bold;
    font-size: 2.2vh;
}

.searchAndActivities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}