.landing {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("../img/paises.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    min-height: 100vh;
    background-position-x: center;
    background-position-y: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Cambia "left" por "flex-start" */
    width: 20%;
    margin-bottom: 2rem;
    margin-top: 15%;
}

.textBig {
    font-size: 4.5vh;
    margin-top: 0;
    /* No es necesario "align-items", "align-content" ni "justify-content" aquí */
}

h1 {
    margin: 4;
}

.button {
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #3a3a3a;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}