.select {
    width: 6vw;
    height: 5vh;
    margin-bottom: 0;
    font-family: "Helvetica";
    border-radius: 10px;
    background-color: rgb(53, 52, 52);
    transition: 0.3s;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 2.5vh;
    cursor: pointer;
}

.select:hover {
    background-color: white;
}

.select:disabled {
    color: rgb(73, 73, 73);
    background-color: rgb(53, 52, 52);
    cursor: default;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    gap: 1em;
}