#root {
  height: 100vh;
  text-align: center;
}

body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #191919
}

.button {
  border-radius: 10px;
  background-color: rgb(23, 131, 77);
  color: #fff;
  cursor: pointer;
  transition: .2s;
  padding: 6px 28px;
  border: none;
}

.button:hover {
  background-color: rgb(12, 73, 43);
}

.pagination-button {
  border-radius: 10px;
  background-color: rgb(23, 131, 77);
  color: #fff;
  cursor: pointer;
  transition: .2s;
  padding: 6px 10px;
  border: none;
}

.pagination-button:hover {
  background-color: rgb(12, 73, 43);

}