.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: "Helvetica";

}

.containerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    width: 53vw;
    height: 88.5vh;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.555);
}

.countryName {
    margin-top: 0px;
    font-size: 7.5vh;
    color: whitesmoke;
}

.flag {
    width: 60%;
    border-radius: 50px;
    margin-left: 1vh;
}

.containerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 38.9vh;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 15px;
    margin: 1vh;
    padding-bottom: 4.8vh;
    color: whitesmoke;
}

.actcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12vw;
    height: 17vh;
    border: 0.4vh solid #191919;
    padding: 0.4vh;
    border-radius: 15px;
    align-items: center;
    color: whitesmoke;
}

.title {
    text-transform: uppercase;
    font-size: 5vh;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

.text {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 2.3vh;
}

.titleAct {
    text-transform: uppercase;
    margin-top: 0.5vh;
    margin-bottom: 0.3vh;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap;
    column-gap: 2vh;
    align-items: center;
    margin-top: 1vh;
}

.actEmpty {
    font-size: 2vh;
}