.container {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 4.7vh 2.5vw;
    align-items: center;
    height: 80vh;
    width: 80vw;
    margin: auto;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica";
    background-attachment: fixed;
    width: auto;
    min-height: 100vh;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.subtitle {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.select {
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    margin: 0;
}

.select:hover {
    background-color: white;
}

.pag {
    margin: auto;
}

.mensaje {
    font-size: 5vh;
}